/* BASE STYLE */

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.drag-cursor {
    cursor: pointer;
}

/* LAYOUT */

.header-container {
    background-color: rgb(223, 223, 223);
    padding: 0 20px;
}

.header-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner-container>nav>ul {
    display: flex;
}

.header-inner-container>nav>ul>li:not(:first-child) {
    margin-left: 20px;
}

.icon-btn img {
    width: 40px;
    height: 40px;
}

.canvas-and-controlles-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.controlles-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgs-gallery-inner-container img {
    max-height: 300px;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.imgs-gallery-inner-container img:hover {
    transform: translateY(-5px);
}

.imgs-gallery-inner-container {
    margin: 50px 0;
    display: grid;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
}